<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">TechCrunch - Articles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-right">
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-outline-success btn-primary" href="/" role="submit">Home</a>
        </form>
    </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-center mybanner">Saved Articles</h1>
  </div>
</div>
<div id="saved-articles-container">
  {{#each articles}}
  <div class="card">
    <form class="myform" id="article-${index}">
      <div name="article-title" class="card-header">{{this.title}}</div>
      <div class="card-body">
        <div>
          <p class="article-summary"> {{this.summary}}</p>
        </div>
        <div>
          <span>
          <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success btn-primary" href="{{this.link}}" role="submit" target="_blank">Go To TechCrunch</a>
          </form>
          </span>
          <span>
            <button id="notes-{{this._id}}" type="submit" class="btn btn-outline-success addnotes" data-toggle="modal" data-target="#exampleModal1">Article Notes</button>
          </span>
          <span>
            <button id="delete-{{this._id}}" type="submit" class="btn btn-outline-success delete">Delete From Saved</button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <br>
  <br>
  <br>
  {{/each}}

  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content mymodal">
        <div class="modal-header">
          Notes
        </div>
        <div class="allNotes">
        </div>
        <div class="modal-body">
          <form id="my-notes-form">
            <div class="form-group name">
              <input name="notes" type="text" class="form-control note" maxlength="100" placeholder="Enter Notes">
            </div>
            <div class="modal-footer">
              <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="addNotes" type="submit" class="btn btn-primary">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>